@mixin box-shadow($selector, $hash, $inset, $hLength, $vLength, $blurRadius, $spread, $colorType, $colorValue){
	@if $hash == "id"{
		##{$selector} {
			@if $colorType == "hex" {

				@if $inset == "inset" {
					-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

				}@else if $inset == "no" {
					-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
				}


			}@else {
				@if $inset == "inset" {
					@if $inset == "inset" {
						-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
						box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

					}@else if $inset == "no" {
						-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
						box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					}

				}@else if $inset == "no" {
					@if $inset == "inset" {
						-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
						box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

					}@else if $inset == "no" {
						-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
						box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					}
				}
			}
		}
	}@else if $hash == "class"{
		.#{$selector} {
			@if $colorType == "hex" {
				@if $inset == "inset" {
					-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

				}@else if $inset == "no" {
					-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
				}
			}@else {
				@if $inset == "inset" {
					-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

				}@else if $inset == "no" {
					-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
				}
			}
		}
	}@else if $hash == "tag"{
		#{$selector} {
			@if $colorType == "hex" {
				@if $inset == "inset" {
					-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

				}@else if $inset == "no" {
					-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
				}
			}@else {
				@if $inset == "inset" {
					-webkit-box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$inset} #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};

				}@else if $inset == "no" {
					-webkit-box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
					box-shadow: #{$hLength} #{$vLength} #{$blurRadius} #{$spread} #{$colorValue};
				}
			}
		}
	}
}