@mixin column-width($selector, $hash, $columnCount, $columnGap){
	@if $hash == "id"{

		##{$selector} {
			position: relative;
			-moz-column-gap: #{$columnGap};
			-webkit-column-gap: #{$columnGap};
					column-gap: #{$columnGap};

			-moz-column-count: #{$columnCount};
			-webkit-column-count: #{$columnCount};
					column-count: #{$columnCount};

		}
		
	}@elseif $hash == "class"{
		.#{$selector} {
			position: relative;
			-moz-column-gap: #{$columnGap};
			-webkit-column-gap: #{$columnGap};
					column-gap: #{$columnGap};

			-moz-column-count: #{$columnCount};
			-webkit-column-count: #{$columnCount};
					column-count: #{$columnCount};

		}
	}@elseif $hash == "tag"{
		#{$selector} {
			position: relative;
			-moz-column-gap: #{$columnGap};
			-webkit-column-gap: #{$columnGap};
					column-gap: #{$columnGap};

			-moz-column-count: #{$columnCount};
			-webkit-column-count: #{$columnCount};
					column-count: #{$columnCount};

		}
	}
}