@mixin font-face($collectionsFontFamily){
	//Font Face
	@each $item in $collectionsFontFamily {

		@font-face {
		  font-family: $item;
		  src: url('#{$item}.eot'); /* IE9 Compat Modes */
		  src: url('#{$item}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		       url('#{$item}.woff2') format('woff2'), //Super Modern Browsers
		       url('#{$item}.woff') format('woff'), /* Pretty Modern Browsers */
		       url('#{$item}.ttf')  format('truetype'), /* Safari, Android, iOS */
		       url('#{$item}.svg#svg#{item}') format('svg'); /* Legacy iOS */
		}

	}	

}