@import "variables.json";
@import "css3/border-radius";
@import "css3/animation";
@import "css3/box-shadow";


//Border Radius
$Article-selector		: map-get($articleRadius, selector);
$Article-hash			: map-get($articleRadius, hash);
$Article-radius			: map-get($articleRadius, radius);

//Animation Bounce
$Message-selector		: map-get($messageFlash, selector);
$Message-hash			: map-get($messageFlash, hash);
$Message-name			: map-get($messageFlash, name);
$Message-duration		: map-get($messageFlash, duration);
$Message-timing			: map-get($messageFlash, timing);
$Message-iteration		: map-get($messageFlash, iteration);

//Box Shadow
$wrapperShadow-selector		: map-get($articleBoxShadow, selector);
$wrapperShadow-hash			: map-get($articleBoxShadow, hash);
$wrapperShadow-inset		: map-get($articleBoxShadow, inset);
$wrapperShadow-hLength		: map-get($articleBoxShadow, hLength);
$wrapperShadow-vLength		: map-get($articleBoxShadow, vLength);
$wrapperShadow-blurRadius	: map-get($articleBoxShadow, blurRadius);
$wrapperShadow-spread		: map-get($articleBoxShadow, spread);
$wrapperShadow-colorType	: map-get($articleBoxShadow, colorType);
$wrapperShadow-colorValue	: map-get($articleBoxShadow, colorValue);

//Border Radius
@include border-radius(
	$Article-selector,
	$Article-hash, 
	$Article-radius
); 	

//Animation - Bounce
@include animation(
	$Message-selector, 
	$Message-hash, 
	$Message-name, 
	$Message-duration, 
	$Message-timing, 
	$Message-iteration
);

//Box Shadow
@include box-shadow(
	$wrapperShadow-selector, 
	$wrapperShadow-hash,
	$wrapperShadow-inset, 
	$wrapperShadow-hLength, 
	$wrapperShadow-vLength,
	$wrapperShadow-blurRadius,
	$wrapperShadow-spread,
	$wrapperShadow-colorType,
	$wrapperShadow-colorValue	
);
