@import "variables.json";
@import "css3/border-radius";
@import "css3/animation";


//Border Radius
$Article-selector-gold: map-get($articleRadius, selectorGold);
$Article-selector: map-get($articleRadius, selector);
$Article-radius: map-get($articleRadius, radius);
$Article-hash: map-get($articleRadius, hash);

//Animation Bounce
$Message-selector-gold: map-get($messageFlash, selectorGold);
$Message-selector: map-get($messageFlash, selector);
$Message-hash: map-get($messageFlash, hash);
$Message-name: map-get($messageFlash, name);
$Message-duration: map-get($messageFlash, duration);
$Message-timing: map-get($messageFlash, timing);
$Message-iteration: map-get($messageFlash, iteration);

//Border Radius
@include border-radius($Article-hash, $Article-selector-gold, $Article-selector, $Article-radius);
//Animation - Bounce
@include animation($Message-hash, $Message-selector-gold, $Message-selector, $Message-name, $Message-duration, $Message-timing, $Message-iteration);

@warn $Message-timing $Message-iteration;